.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-block: black 2px;
}

.left-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-block: black 2px;
}

.middle-panel {
  width: 30%;
}

.right-panel {
  width: 30%;
}
