<script src="../winners-table/winners-table.component.ts"></script>
<app-season-input (selectedSeasonChange)="onSeasonChange($event)"></app-season-input>

@if ((selectedSeason !== '')) {
  <app-round-input [responseInput]="selectedSeason"
                   (selectedRoundChange)="onRoundChange($event)"></app-round-input>
}

@if (selectedSeason !== '' && selectedRound !== '') {
  <app-winners-table [responseInputSeason]="selectedSeason"
                     [responseInputRound]="selectedRound"
                     (winnersUrl)="onWinnerChange($event)"
  ></app-winners-table>
}

@if (winnersUrl.length) {
  <app-drivers-info [responseWinnersUrl]="winnersUrl"></app-drivers-info>

}



